<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>110250962416-bmo42jvgcsnqfofpjdr8k2q67vrnlrmi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.110250962416-bmo42jvgcsnqfofpjdr8k2q67vrnlrmi</string>
	<key>API_KEY</key>
	<string>AIzaSyB5cSHZEsxpbqBZmP3q88KKet5yYn_T0QM</string>
	<key>GCM_SENDER_ID</key>
	<string>110250962416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.chernook.FlashChat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-64d6a</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-64d6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:110250962416:ios:0c4646abe7af8ae487c135</string>
</dict>
</plist>